---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/SiteTitle.astro';
---

<Default {...Astro.props} /><slot />
<a href={'/' + Astro.props.lang + '/'} class="ml-1 text-gray-50 no-underline"><h2>Docs</h2></a>
